.graphContainer{
  display: flex;
  flex-direction: column;

  text-align: center;

  .graphInputs {
    margin: 1rem 2rem;

    label {
      margin-right: 1.5rem;
      font-size: 1.2rem;
      
      input[type="date"] {
        background: transparent;
        border: 0;
        margin-left: 1rem;
      }
    }

    

    button {
      background: rgb(253, 247, 247);
      border: 1px solid var(--orange);
      border-radius: .25rem;
      color: var(--orange);
      font-weight: bold;

      padding: 0.3rem 1rem;

      & + button {
        margin-left: 1rem;
      }

      &.selected {
        background: var(--orange);
        color: #fff;
      }
    }
  }

  

}

