.formContainer {
  position: relative;
  border-color:#d7d7d7;

  h2 {
    color: var(--orange);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    border-radius: 0.25rem;

    border: 1px solid #d7d7d7;
    background: #e7e9ee;

    font-weight: 400;
    font-size: 1rem;

    margin-top: 1rem;

    &::placeholder {
      color: rgb(98, 98, 99);
    }


  }

  button[type="submit"] {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    background: var(--orange);
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    font-size: 1rem;
    margin-top: 1.5rem;
    font-weight: 600;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
      border: 1px solid #ccc;
    }
  }
}

.TransactionTypeContainer {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}