@media(max-width:1024px) {
  div.cardInfoContainer {
    width: 240px;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    
    p {
      font-size: 1rem;
    }
  
    main {
  
      margin: .5rem 0;
  
      strong {
        font-size: 0.9rem;
        color: var(--orange);
      }
  
      button {
        width: 7rem;
        padding: 0.6rem 0;
        color: #fff;
        background: var(--orange);
    

        font-size: .5rem;
        font-weight: 700;
  
        transition: filter .2s;
  
        &:hover{
          filter: brightness(0.9)
        }
      }
    }
  
    span {
      font-size: 0.72rem;
      color: var(--text-bar)
    }
  }
}

@media(max-width:768px) {
  div.cardInfoContainer {
    width: 170px;
    padding: 0.5rem 1rem;
    margin-top: .5rem;
    
    p {
      font-size: .9rem;
    }
  
    main {
      margin: .5rem 0;
  
      strong {
        font-size: 0.7rem;
      }
  
      button {
        width: 5rem;
        padding: 0.5rem 0;
        font-size: .4rem;
      }
    }
  
    span {
      font-size: 0.5rem;
    }
  }
}