div.cardInfoContainer {
  width: 350px;
  background: #eeecec;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;

  p {
    font-size: 1.3rem;
  }

  main {
    display: flex;
    align-items:center;
    justify-content:space-between;
    

    margin: 1rem 0;

    strong {
      color: rgb(255, 89, 0);
      font-size: 1.5rem;
    }

    button {
      width: 9rem;
      padding: 0.6rem 0;
      color: rgb(255, 255, 255);
      background: var(--orange);

      margin-left: 1rem;

      border: 0;
      border-radius: 0.25rem;

      font-size: .8rem;
      font-weight: 700;

      transition: color .2s;

      &:hover{
        background: rgb(255, 89, 0);
      }
    }
  }

  span {
    font-size: 1rem;
    color: rgb(102, 98, 98);
  }
}

