.contentContainer {
  max-width: 980px;
  width: 100%;
  margin: 1rem 1rem;
  display: flex;


  > div{
    display: flex;
    flex-direction: column;
    align-items: center;

    > header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--bg-welcome);

      border-radius: 0.5rem;

      > div {
        padding: 0 2rem;
        max-width: 400px;
        width: 100%;

        h2 { 
          font-size: 3rem;
          color: var(--orange);
          font-weight: 400;
        }

        p {
          font-size: 1rem;
          margin-top: 0.2rem;
        }
      }

      img {
        position: relative;
        width: 22rem;
        height: 10rem;

        top: -0.8rem;
      }
    }
  }

  main.content {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }

}
