.contentContainer {
  max-width: 980px;
  width: 100%;
  margin: 1rem 1rem;
  display: flex;


  > div{
    display: flex;
    flex-direction: column;
    align-items: center;

    > header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgb(243, 236, 236);


      border-radius: 1rem;

      > div {
        padding: 0 2rem;
        max-width: 400px;
        width: 100%;

        h2 { 
          font-size: 3rem;
          color: rgb(255, 89, 0);
          font-weight: 400;
        }

        p {
          font-size: 1rem;
          margin-top: 0.2rem;
        }
      }

      img {
        position: relative;
        width: 22rem;
        height: 10rem;

        top: -0.8rem;
      }
    }
  }

  main.content {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }

}

.contentContainerMobile {
  width: 100vw;

  > header{
    width: 100%;
    height: 8vh;
    background: var(--orange);

    
    display: flex;
    align-items: center;

    img {
      width: 100px;
      height: 40px;
      margin-left: 2rem;
      filter: contrast(30%)
    }
  }

  >section {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(243, 236, 236);

    border-radius: 0.5rem;

    margin: 2rem 1rem;

    > div {
      padding: 0 2rem;
      max-width: 400px;
      width: 100%;

      h2 { 
        font-size: 2rem;
        color: var(--orange);
        font-weight: 400;
      }

      p {
        font-size: .9rem;
        margin-top: 0.2rem;
      }
    }

    > img {
      position: relative;
        width: 10rem;
        height: 6rem;

        top: -0.8rem;
    } 
  }

  .contentMobile {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      margin: 0 .5rem;
    }
  }

}
