nav.sideBarMobile {
  position: absolute;
  background:#fff;
  height: 100vh;

  border-right: 1px solid #e0dcd5;


  z-index: 10;

  > img {
    width: 8rem;
    height: 3rem;

    margin: 1rem 0 1rem 0;
  }

  .buttons-container{
    display: flex;
    flex-direction: column;
    
  }

  footer {
    display: flex;
    align-items: center;
    justify-content:center;

    height: 4rem;
    background: #f6f5fa;

    margin:3rem 1rem; 

    border-radius: .5rem;

    div {
      display: flex;
      align-items: center;
      justify-content:center;

      width: 6rem;
      height: 3rem;
      background: #fff;

      margin: 1rem;
      border-radius: .5rem;

      img {
        width: 3.5rem;
        height: 1.5rem;
      }
    }

    span {
      font-size: 1rem;
      font-weight: 500;

      p {
        padding: 0 1rem;
        color: var(--text-bar);
        font-size: .4rem;
      }
    }
  }
}

.fake-button{
  position: fixed;
  z-index: 99;
  cursor: pointer;
  right: 1.5rem;
  top: 1rem;

  filter: contrast(0%);

  svg {
    width: 2rem;
    height: 2rem;
  }
}