
@media(max-width:768px){
  nav.sidebar {

    max-width: 150px;
  
    > img {
      width: 5rem;
      margin:0;
    }

    footer {
      width: 130px;
      height: 50px;

      div {
        width: 4rem;
        height: 2rem;
        margin: .4rem;
  
        img {
          width: 3rem;
          height: 1rem;
        }
      }
  
      span {
        font-size: .7rem;
  
        p {
          font-size: .3rem;
        }
      }
    }
  }
  
}